body {
	margin: 0;
	padding: 0;
	line-height: 1;
	border: 0;
	vertical-align: baseline;
	font-family: Arial, sans-serif;
	font-size: 20px;
}

main {
	width: 1024px;
	margin: 0 auto;
}

.header,
.header__person__block {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.header__person {
	margin: 0 auto 0 20px;
}

.header__person div{
	margin-right: 15px;
}

.header__link {
	text-decoration: none;
	color:           #3b8784;
}

.header__link:hover {
	color: #251919;
}

.header__link img {
	margin: 0 5px;
}

.header__link img:hover {
	filter: contrast(10%);
}

hr {
	margin: 10px 0;
	color:  #d1d1d1;
	border: none;
}